/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   font-family: 'Maven Pro', 'Roboto', Arial, Helvetica, sans-serif;
 }

 .hone {
  font-family:  'Roboto Slab', 'Roboto', Arial, Helvetica, sans-serif;
 }

nav ul a,
nav .brand-logo {
  color: #444;
  font-family:  'Roboto Slab', 'Roboto', Arial, Helvetica, sans-serif;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  #index-banner .container {
    margin-top: 50px;
  }
  .parallax-container {
    min-height: 500px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .hone {
    font-weight: bold;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  padding: 20px;
  padding-left: 10px;
}

.hone {
  color: black !important;
}

.parallax {
opacity: 0.8;
}

h5.hone {
  font-size: 30px;
}

h5 {
  font-weight: bold;
  font-size: 28px;
}

#logo-container.brand-logo {
  font-size: 20px;
}

@media only screen and (max-width : 992px) {
  .page-footer .container {
    margin-left: 0;
  }
  #logo-container.brand-logo {
    font-size: 18px;
  }  
  a#logo-container {
    width: 80%;
    margin-left: 40px;
}
.hone, h5.hone {
  font-size: 30px;
}
.parallax-container .section {
  top: 25%;
}
}

.plus-icon {
  padding: 5px;
  vertical-align: top;
}

.page-footer {
  background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
}

.sidenav-trigger {
  color: #8d55bf;
}

.light {
  font-size: 15px;
}

.page-footer a {
  color: #fff!important;
}

.element-to-hide{
  visibility:hidden; 
} 
.slideRight {
  visibility: visible;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out; 
}

@keyframes slideRight {
  0% {
      transform: translateX(-150%);
  }
  50% {
      transform: translateX(8%);
  }
  65% {
      transform: translateX(-4%);
  }
  80% {
      transform: translateX(4%);
  }
  95% {
      transform: translateX(-2%);
  }
  100% {
      transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
      -webkit-transform: translateX(-150%);
  }
  50% {
      -webkit-transform: translateX(8%);
  }
  65% {
      -webkit-transform: translateX(-4%);
  }
  80% {
      -webkit-transform: translateX(4%);
  }
  95% {
      -webkit-transform: translateX(-2%);
  }
  100% {
      -webkit-transform: translateX(0%);
  }
}

.big {
  font-weight: bold;
  font-size: 17px;
}